@model Shift_Planner_Web.Models.Shift

<h1> Shift Details </h1>

<p>
    <strong>Name:</strong>
    @Model.Employee?.Name
</p>

<p>
    <strong>Role:</strong>
    @Model.Employee?.Role
</p>

<p>
    <strong>Start Time:</strong>
    @Model.StartTime.ToShortTimeString()
</p>

<p>
    <strong>End Time:</strong>
    @Model.EndTime.ToShortTimeString()
</p>

<p>
    <strong>Break Duration:</strong>
    @Model.BreakDuration
</p>

<p>
    <strong> Working Day:</strong>
    @Model.Day
</p>

<p>
    <strong>Shift Length:</strong>
    @Model.ShiftLength Hours
</p>

<p>
    <strong>Paid Hours:</strong>
    @Model.ShiftHours Hours
</p>