@model ShiftPlanner_Web.ViewModels.DashboardViewModel

@if (Model.OverHoursEmployees.Any())
{
    <div class="alert alert-danger">

        <h5>Warnings</h5>

        <ul>
            @foreach (var employee in Model.OverHoursEmployees)
            {
                <li>
                    @employee.Name exceeds
                    contracted hours
                </li>
            }
        </ul>

    </div>
}

@if (Model.NoShiftEmployees.Any())
{
    <div class="alert alert-warning">

        <h5>Warnings</h5>

        <ul>
            @foreach (var employee in Model.NoShiftEmployees)
            {
                <li>
                    @employee.Name Has
                    no shifts assigned
                </li>
            }
        </ul>

    </div>
}

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h5>Total Employees</h5>

                <h2>@Model.EmployeeCount</h2>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h5>Total Shifts</h5>

                <h2>@Model.ShiftCount</h2>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h5>Total Hours Used</h5>

                <h2>@Model.TotalHours</h2>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <h5>Average Contract</h5>
                <h2> 0 Hours </h2>
            </div>
        </div>
    </div>

    <h2>Upcoming Shifts</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Employee</th>
                <th>Day</th>
                <th>Start</th>
                <th>End</th>
                <th>Break</th>
                <th> Shift Length </th>
            </tr>
        </thead>

        <tbody>

            @foreach (var shift in Model.UpcomingShifts)
            {
                <tr>

                    <td>@shift.Employee?.Name</td>

                    <td>@shift.Day</td>

                    <td>@shift.StartTime.ToString("HH:mm")</td>

                    <td>@shift.EndTime.ToString("HH:mm")</td>

                    <td>@shift.BreakDuration mins</td>

                    <td>@shift.ShiftHours</td>

                </tr>
            }

        </tbody>

    </table>

</div>